@model FormCadCliente

@{
    ViewData["Title"] = "Cadastrar Cartão";
}

<form asp-action="AtualizarCartao" asp-controller="Cartao" method="post">
    <input type="hidden" asp-for="@Model.Cliente.Id" />
    <input type="hidden" asp-for="@Model.Cartao.Id" />

    <div class="form-group">
        <label for="apelido-cartao-cliente">Apelido Cartão:</label>
        <input type="text" class="form-control" id="apelido-cartao-cliente" placeholder="Apelido" asp-for="@Model.Cartao.Apelido">
    </div>
    <div class="form-group">
        <label for="cep-endereco-cliente">Numero:</label>
        <input type="text" class="form-control" id="numero-cartao-cliente" placeholder="Numero" asp-for="@Model.Cartao.Numero">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Bandeira :</label>
        <select class="form-control" id="bandeira-cartao-cliente" asp-for="@Model.Cartao.Bandeira.Id">
            @{
                IFacadeGeneric facadeBandeiraCartao = new FacadeBandeiraCartao();

                foreach (BandeiraCartao bandeiraCartao in facadeBandeiraCartao.Selecionar()) {
                    <option value="@bandeiraCartao.Id">@bandeiraCartao.Nome</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="logradouro-endereco-cliente">Data validade:</label>
        <input type="text" class="form-control" id="dtValidade-cartao-cliente" placeholder="MM/AA" asp-for="@Model.Cartao.DataValidade">
    </div>
    <div class="form-group">
        <label for="numero-endereco-cliente">CVV:</label>
        <input type="text" class="form-control" id="cvv-cartao-cliente" placeholder="Numero" asp-for="@Model.Cartao.CVV">
    </div>
    <div class="form-group">
        <label for="funcao-cartao-cliente">Função:</label>
        <select class="form-control" id="funcao-cartao-cliente" asp-for="@Model.Cartao.Funcao">
            <option value="DEBITO">Débito</option>
            <option value="CREDITO">Crédito</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" id="salvar-cartao">Salvar</button>
</form>