@model FormCadCliente

@{
    ViewData["Title"] = "Cadastrar Endereço";
}

<form asp-controller="Endereco" asp-action="AtualizarEndereco" method="post">
    <input type="hidden" asp-for="@Model.Cliente.Id" />
    <input type="hidden" asp-for="@Model.Endereco.Id" />


    <div class="form-group">
        <label for="apelido-endereco-cliente">Apelido endereço:</label>
        <input type="text" class="form-control" id="apelido-endereco-cliente" placeholder="Apelido" asp-for="@Model.Endereco.Apelido">
    </div>
    <div class="form-group">
        <label for="cep-endereco-cliente">CEP:</label>
        <input type="text" class="form-control" id="cep-endereco-cliente" placeholder="CEP" asp-for="@Model.Endereco.CEP">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Tipo Logradouro:</label>
        <select class="form-control" id="tipoLogradouro-endereco-cliente" asp-for="@Model.Endereco.TipoLogradouro.Id">
            @{
                IFacadeGeneric facadeTipoLogradouro = new FacadeTipoLogradouro();

                foreach (TipoLogradouro tipoLogradouro in facadeTipoLogradouro.Selecionar()) {
                    if (tipoLogradouro.Id == Model.Endereco.TipoLogradouro.Id) {
                        <option value="@tipoLogradouro.Id" selected>@tipoLogradouro.Tipo</option>
                    }
                    <option value="@tipoLogradouro.Id">@tipoLogradouro.Tipo</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="logradouro-endereco-cliente">Logradouro:</label>
        <input type="text" class="form-control" id="logradouro-endereco-cliente" placeholder="Logradouro" asp-for="@Model.Endereco.Logradouro">
    </div>
    <div class="form-group">
        <label for="numero-endereco-cliente">Numero:</label>
        <input type="text" class="form-control" id="numero-endereco-cliente" placeholder="Numero" asp-for="@Model.Endereco.Numero">
    </div>
    <div class="form-group">
        <label for="bairro-endereco-cliente">Bairro:</label>
        <input type="text" class="form-control" id="bairro-endereco-cliente" placeholder="Bairro" asp-for="@Model.Endereco.Bairro">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Pais:</label>
        <input type="text" class="form-control" id="estado-endereco-cliente" placeholder="Estado" asp-for="@Model.Endereco.Municipio.Estado.Pais.Nome">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Estado:</label>
        <input type="text" class="form-control" id="estado-endereco-cliente" placeholder="Estado" asp-for="@Model.Endereco.Municipio.Estado.Nome">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Cidade:</label>
        <input type="text" class="form-control" id="cidade-endereco-cliente" asp-for="@Model.Endereco.Municipio.Nome">
    </div>
    <div class="form-group">
        <label for="numero-endereco-cliente">Observação:</label>
        <input type="text" class="form-control" id="numero-endereco-cliente" placeholder="Observação" asp-for="@Model.Endereco.Observacao">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Tipo de residência:</label>
        <select class="form-control" id="tipo-residencia-endereco-cliente" asp-for="@Model.Endereco.TipoResidencia.Id">
            @{
                IFacadeGeneric facadeTipoResidencia = new FacadeTipoResidencia();

                foreach (TipoResidencia tipoResidencia in facadeTipoResidencia.Selecionar()) {

                    if (tipoResidencia.Id == Model.Endereco.TipoResidencia.Id){
                        <option value="@tipoResidencia.Id" selected>@tipoResidencia.Tipo</option>
                    }
                    <option value="@tipoResidencia.Id">@tipoResidencia.Tipo</option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="numero-endereco-cliente">Cobrança:</label>
        <input type="checkbox" id="cobranca-endereco-cliente" asp-for="@Model.Endereco.Cobranca">

        <label for="numero-endereco-cliente">Entrega:</label>
        <input type="checkbox" id="entrega-endereco-cliente" asp-for="@Model.Endereco.Entrega">
    </div>
    <button type="submit" class="btn btn-primary" id="salvar-endereco">Salvar</button>
</form>