@model Usuario

@{
    ViewData["Title"] = "Exibir Dados Clientes";

    if (TempData["FalhaCadastroNovoEndereco"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaCadastroNovoEndereco"]
        </div>
    } else if (TempData["SucessoCadastroNovoEndereco"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoCadastroNovoEndereco"]
        </div>
    } else if (TempData["FalhaCadastroNovoCartao"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaCadastroNovoCartao"]
        </div>
    } else if (TempData["SucessoCadastroNovoCartao"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoCadastroNovoCartao"]
        </div>
    } else if (TempData["SucessoExclusaoEndereco"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoExclusaoEndereco"]
        </div>
    } else if (TempData["FalhaExclusaoEndereco"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaExclusaoEndereco"]
        </div>
    } else if (TempData["SucessoExclusaoCartao"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SucessoExclusaoCartao"]
        </div>
    } else if (TempData["FalhaExclusaoCartao"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["FalhaExclusaoCartao"]
        </div>
    }

    <link rel="stylesheet" href="~/css/DadosCliente.css" asp-append-version="true" />
}

<p class="nome-cliente">@Model.Nome</p>
<p class="contato-cliente">
    Email: @Model.Email |
    Telefone (@Model.Telefone.TipoTelefone.Tipo): (@Model.Telefone.DDD) @Model.Telefone.Numero  |
    CPF: @Model.CPF |
    Data Nascimento: @Model.DataNascimento.ToString("dd/MM/yyyy")
</p>
<p class="genero-cliente">Genero: @Model.Genero</p>


<div class="painel-cards">
    <h3 class="card-title">Cartões</h3>
    <div class="group-cards">
        @{
            foreach (Cartao Cartao in Model.Cartoes) {
                <div class="card-item">
                    <div class="card-body">
                        <p class="card-text">Apelido: @Cartao.Apelido</p>
                        <p class="card-text">Numero: @Cartao.Numero</p>
                        <p class="card-text">CVV: @Cartao.CVV</p>
                        <p class="card-text">Data de validade: @Cartao.DataValidade</p>
                        <p class="card-text">Bandeira: @Cartao.Bandeira.Nome</p>
                        <p class="card-text">Função: @Cartao.Funcao</p>
                    </div>
                    <a class="btn btn-primary" asp-action="EditarCartao" asp-controller="Cartao" asp-route-idCartao="@Cartao.Id" asp-route-idCliente="@Model.Id" id="editar-cartao">Editar</a>
                    @if (Model.Cartoes.Count() > 1) {
                        <a class="btn btn-danger" asp-controller="Cartao" asp-action="ExcluirCartao" asp-route-idCliente="@Model.Id" asp-route-idCartao="@Cartao.Id" id="excluir-cartao">Excluir</a>
                    }
                </div>
            }
        }
    </div>
    <a asp-action="CadastrarCartao" asp-controller="Cartao" class="btn btn-info" asp-route-id="@Model.Id">Adicionar Cartão</a>
</div>


<div class="painel-cards">
    <h3 class="card-title">Endereços</h3>
    <div class="group-cards">
        @{
            string EnderecoCobrancaEntrega = "";

            foreach (Endereco Endereco in Model.Enderecos) {
                <div class="card-item">
                    <div class="card-body">
                        <p class="card-text">Apelido: @Endereco.Apelido</p>
                        <p class="card-text">CEP: @Endereco.CEP</p>
                        <p class="card-text">Tipo Logradouro: @Endereco.TipoLogradouro.Tipo</p>
                        <p class="card-text">Logradouro: @Endereco.Logradouro</p>
                        <p class="card-text">Numero: @Endereco.Numero</p>
                        <p class="card-text">Bairro: @Endereco.Bairro</p>
                        <p class="card-text">Tipo Residencia: @Endereco.TipoResidencia.Tipo</p>
                        <p class="card-text">Pais: @Endereco.Municipio.Estado.Pais.Nome</p>
                        <p class="card-text">Estado: @Endereco.Municipio.Estado.Nome</p>
                        <p class="card-text">Municipio: @Endereco.Municipio.Nome</p>

                        @if (Endereco.Cobranca) {
                            EnderecoCobrancaEntrega = "Cobrança";
                        }

                        @if (Endereco.Entrega) {
                            EnderecoCobrancaEntrega = string.IsNullOrEmpty(EnderecoCobrancaEntrega) ? " e Entrega" :  "Entrega";
                            <p class="card-text">Endereço de @EnderecoCobrancaEntrega</p>

                        }

                    </div>
                    <a class="btn btn-primary" asp-controller="Endereco" asp-action="EditarEndereco" asp-route-idCliente="@Model.Id" asp-route-idEndereco="@Endereco.Id" id="editar-endereco">Editar</a>
                    @if (Model.Enderecos.Count() > 1) {
                        <a class="btn btn-danger" asp-controller="Endereco" asp-action="ExcluirEndereco" asp-route-idCliente="@Model.Id" asp-route-idEndereco="@Endereco.Id" id="excluir-endereco">Excluir</a>
                    }
                </div>
            }
        }
    </div>
    <a asp-action="CadastrarEndereco" asp-controller="Endereco" class="btn btn-info" asp-route-id="@Model.Id">Adicionar Endereço</a>
</div>