@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Exibir Clientes";

    <link rel="stylesheet" href="~/css/TabelaCliente.css" asp-append-version="true" />

}

<form asp-action="ExibirClientes" asp-controller="Cliente" method="get">
    <div class="row align-items-end">

        <div class="col-md-3">
            <label for="Nome">Nome:</label>
            <input type="text" name="filterNome" id="filter-nome" class="form-control" />
        </div>

        <div class="col-md-3">
            <label for="Email">Email:</label>
            <input type="text" name="filterEmail" id="filter-email" class="form-control" />
        </div>

        <div class="col-md-3">
            <label for="Status">Status:</label>
            <select name="filterStatus" id ="filter-status" class="form-control">
                <option value="">Todos</option>
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
        </div>

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100" id="submit-filter">Filtrar</button>
        </div>

    </div>
</form>

<br>
<br>

<table class="table table-cliente">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Endereços cadastrados</th>
            <th scope="col">Cartões cadastrados</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (Usuario Cliente in Model) {

                if (Cliente.Status) {
                    <tr class="cliente-ativo">
                        <td>@Cliente.Nome</td>
                        <td>@Cliente.Email</td>
                        <td>@Cliente.Enderecos.Count()</td>
                        <td>@Cliente.Cartoes.Count()</td>
                        <td>
                            <a asp-action="ExibirDadosCliente" asp-controller="Cliente" asp-route-id="@Cliente.Id" id="informacao-cliente">Exibir</a> |
                            <a asp-action="AtualizarCliente" asp-controller="Cliente" asp-route-id="@Cliente.Id">Editar</a> |
                            <a asp-action="AlterarStatusCliente" asp-controller="Cliente" asp-route-id="@Cliente.Id" id="usuario-ativo">Inativar</a> |
                            <a asp-action="AlterarSomenteSenha" asp-controller="Cliente" asp-route-id="@Cliente.Id" id="alterar-senha-usuario">Alterar Senha</a>
                        </td>
                    </tr>
                }else{
                    <tr class="cliente-desativado">
                        <td>@Cliente.Nome</td>
                        <td>@Cliente.Email</td>
                        <td>@Cliente.Enderecos.Count()</td>
                        <td>@Cliente.Cartoes.Count()</td>
                        <td>
                            <a asp-action="ExibirDadosCliente" asp-controller="Cliente" asp-route-id="@Cliente.Id">Exibir</a> |
                            <a asp-action="AtualizarCliente" asp-controller="Cliente" asp-route-id="@Cliente.Id">Editar</a> |
                            <a asp-action="AlterarStatusCliente" asp-controller="Cliente" asp-route-id="@Cliente.Id" id="usuario-inativo">Ativar</a> |
                            <a asp-action="AlterarSomenteSenha" asp-controller="Cliente" asp-route-id="@Cliente.Id" id="alterar-senha-usuario">Alterar Senha</a>
                        </td>
                    </tr>
                }
            }

        }

    </tbody>
</table>